In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [36]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df.school_name == 'Thomas High School') & (student_data_df.grade == '9th'),['reading_score']] = np.nan

In [37]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df.school_name == 'Thomas High School') & (student_data_df.grade == '9th'),['math_score']] = np.nan

In [43]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).

In [ ]:
# Step 6. Get all the students passing math from THS

In [ ]:
# Step 7. Get all the students passing reading from THS

In [ ]:
# Step 8. Get all the students passing math and reading from THS

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School.

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.

In [ ]:
# per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

In [ ]:
# Sort and show top five schools.

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [ ]:
# Combine each Series for average math scores by school into single data frame.

In [ ]:
# Combine each Series for average reading scores by school into single data frame.

In [ ]:
# Format each grade column.

In [ ]:
# Remove the index.


# Display the data frame

In [ ]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.

# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# Format the DataFrame

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame

In [ ]:
# Add the Pandas dependency
import pandas as pd

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [ ]:
school_data.head()

In [ ]:
student_data.head()

In [ ]:
school_data.isnull().sum()

In [ ]:
student_data.isnull().sum()

In [ ]:
school_data.dtypes

In [ ]:
student_data.dtypes

In [ ]:
# Use prefixes and suffixes identified in cleaning_student_names to clean the student_name column of the data frame
pre_suff = ['Dr. ', 'Mr. ', 'Ms. ', 'Mrs. ', 'Miss', ' MD', ' DDS', ' DVM', ' PhD']
for index in pre_suff:
    student_data.student_name = student_data.student_name.str.replace(index, "")

In [ ]:
school_data_complete = pd.merge(student_data,school_data,on=["school_name","school_name"])
school_data_complete.head()

In [ ]:
student_count = school_data_complete["Student ID"].count()
student_count

In [ ]:
school_count = school_data.school_name.count()
school_count

In [ ]:
total_budget = school_data.budget.sum()
print(f"${total_budget:,}")

In [ ]:
avg_read = student_data.reading_score.mean()
print(f"{avg_read:.2f}")

In [ ]:
avg_math = student_data.math_score.mean()
print(f"{avg_math:.2f}")

In [ ]:
passing_read = school_data_complete[school_data_complete.reading_score >= 70]
passing_read.head()

In [ ]:
passing_math = school_data_complete[school_data_complete.math_score >= 70]
passing_math.head()

In [ ]:
passing_math_count = passing_math.student_name.count()
passing_math_count

In [ ]:
passing_read_count = passing_read.student_name.count()
passing_read_count

In [ ]:
passing_read_percent = float(passing_read_count)/float(student_count)*100
print(f"{passing_read_percent:.2f}")

In [ ]:
passing_math_percent = float(passing_math_count)/float(student_count)*100
print(f"{passing_math_percent:.2f}")

In [ ]:
passing_both = passing_math[passing_math.reading_score >= 70]
passing_both_count = passing_both.student_name.count()
passing_both_percent = float(passing_both_count)/float(student_count)*100
print(f"{passing_both_percent:.2f}")

In [ ]:
passing_both_count

In [ ]:
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": avg_math,
      "Average Reading Score": avg_read,
      "% Passing Math": passing_math_percent,
      "% Passing Reading": passing_read_percent,
      "% Overall Passing": passing_both_percent}])
district_summary_df

In [ ]:
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)

In [ ]:
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)

In [ ]:
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)

In [ ]:
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)

In [ ]:
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.0f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}".format)

In [ ]:
new_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]
district_summary_df = district_summary_df[new_order]
district_summary_df

In [ ]:
per_school_types = school_data.set_index(["school_name"]).type
per_school_types

In [ ]:
school_summary_df = pd.DataFrame(per_school_types)
school_summary_df

In [ ]:
per_school_students = school_data_complete.school_name.value_counts()
per_school_students

In [ ]:
per_school_budget = school_data.set_index(["school_name"]).budget
per_school_budget

In [ ]:
per_school_capita = per_school_budget/per_school_students
per_school_capita

In [ ]:
per_school_math_series = student_data.set_index(["school_name"]).math_score
per_school_math_series

In [ ]:
per_school_averages = school_data_complete.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = per_school_averages.math_score
per_school_math

In [ ]:
per_school_reading = per_school_averages.reading_score
per_school_reading

In [ ]:
per_school_math_pass = passing_math.groupby(['school_name']).count()["student_name"]
per_school_math_pass

In [ ]:
per_school_reading_pass = passing_read.groupby(["school_name"]).count()['student_name']
per_school_reading_pass

In [ ]:
per_school_both_pass = passing_both.groupby(["school_name"]).count()['student_name']
per_school_both_pass

In [ ]:
per_school_percent_math = per_school_math_pass/per_school_students*100
per_school_percent_math

In [ ]:
per_school_percent_read = per_school_reading_pass/per_school_students*100
per_school_percent_read

In [ ]:
per_school_percent_both = per_school_both_pass/per_school_students*100
per_school_percent_both

In [ ]:
per_school_summary_df = pd.DataFrame({
    'School Type': per_school_types,
    'Total Students': per_school_students,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_percent_math,
    '% Passing Reading': per_school_percent_read,
    '% Overall Passing': per_school_percent_both})
per_school_summary_df

In [ ]:
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map("${:,.2f}".format)
per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map("${:,.2f}".format)
per_school_summary_df

In [ ]:
top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False)
top_schools.head()

In [ ]:
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'])
bottom_schools.head()

In [ ]:
freshman = school_data_complete[school_data_complete.grade == '9th']
sophomores = school_data_complete[school_data_complete.grade == '10th']
juniors = school_data_complete[school_data_complete.grade == '11th']
seniors = school_data_complete[school_data_complete.grade == '12th']
seniors

In [ ]:
freshman_math_avg = freshman.groupby(['school_name']).mean()['math_score']
freshman_read_avg = freshman.groupby(['school_name']).mean()['reading_score']

In [ ]:
sophomores_math_avg = sophomores.groupby(['school_name']).mean()['math_score']
sophomores_read_avg = sophomores.groupby(['school_name']).mean()['reading_score']

In [ ]:
juniors_math_avg = juniors.groupby(['school_name']).mean()['math_score']
juniors_read_avg = juniors.groupby(['school_name']).mean()['reading_score']

In [ ]:
seniors_math_avg = seniors.groupby(['school_name']).mean()['math_score']
seniors_read_avg = seniors.groupby(['school_name']).mean()['reading_score']
seniors_read_avg

In [ ]:
math_scores_by_grade = pd.DataFrame({
    '9th': freshman_math_avg,
    '10th': sophomores_math_avg,
    '11th': juniors_math_avg,
    '12th': seniors_math_avg
})
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map("{:.1f}".format)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map("{:.1f}".format)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map("{:.1f}".format)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map("{:.1f}".format)
math_scores_by_grade.index.name = None
math_scores_by_grade.head()

In [ ]:
read_scores_by_grade = pd.DataFrame({
    '9th': freshman_read_avg,
    '10th': sophomores_read_avg,
    '11th': juniors_read_avg,
    '12th': seniors_read_avg
})
read_scores_by_grade['9th'] = read_scores_by_grade['9th'].map("{:.1f}".format)
read_scores_by_grade['10th'] = read_scores_by_grade['10th'].map("{:.1f}".format)
read_scores_by_grade['11th'] = read_scores_by_grade['11th'].map("{:.1f}".format)
read_scores_by_grade['12th'] = read_scores_by_grade['12th'].map("{:.1f}".format)
read_scores_by_grade.index.name = None
read_scores_by_grade.head()

In [ ]:
per_school_capita.sort_values(ascending=False)

In [ ]:
per_school_capita.describe()

In [ ]:
spending_bins = [0,585,630,645,675]
group_names = ['<$584', '$585-629', '$630-644', '$645-675']

In [ ]:
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
spending_avg_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Math Score']
spending_avg_read = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']
spending_pass_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']
spending_pass_read = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']
spending_pass_both = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']

In [ ]:
spending_summary_df = pd.DataFrame({
    'Average Math Score': spending_avg_math,
    'Average Reading Score': spending_avg_read,
    '% Passing Math': spending_pass_math,
    '% Passing Reading': spending_pass_read,
    '% Overall Passing': spending_pass_both
})
spending_summary_df['Average Math Score'] = spending_summary_df['Average Math Score'].map('{:.1f}'.format)
spending_summary_df['Average Reading Score'] = spending_summary_df['Average Reading Score'].map('{:.1f}'.format)
spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.0f}'.format)
spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.0f}'.format)
spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.0f}'.format)
spending_summary_df.index.name = None
spending_summary_df

In [ ]:
per_school_counts = per_school_summary_df['Total Students'].sort_values(ascending=False)
per_school_counts

In [ ]:
student_bins = [0,1000,2000,5000]
group_names = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [ ]:
per_school_summary_df['Student Ranges'] = pd.cut(per_school_students, student_bins, labels=group_names)
per_school_summary_df

In [ ]:
student_avg_math = per_school_summary_df.groupby(['Student Ranges']).mean()['Average Math Score']
student_avg_read = per_school_summary_df.groupby(['Student Ranges']).mean()['Average Reading Score']
student_pass_math = per_school_summary_df.groupby(['Student Ranges']).mean()['% Passing Math']
student_pass_read = per_school_summary_df.groupby(['Student Ranges']).mean()['% Passing Reading']
student_pass_both = per_school_summary_df.groupby(['Student Ranges']).mean()['% Overall Passing']

In [ ]:
student_summary_df = pd.DataFrame({
    'Average Math Score': student_avg_math,
    'Average Reading Score': student_avg_read,
    '% Passing Math': student_pass_math,
    '% Passing Reading': student_pass_read,
    '% Overall Passing': student_pass_both
})
student_summary_df['Average Math Score'] = student_summary_df['Average Math Score'].map('{:.1f}'.format)
student_summary_df['Average Reading Score'] = student_summary_df['Average Reading Score'].map('{:.1f}'.format)
student_summary_df['% Passing Math'] = student_summary_df['% Passing Math'].map('{:.0f}'.format)
student_summary_df['% Passing Reading'] = student_summary_df['% Passing Reading'].map('{:.0f}'.format)
student_summary_df['% Overall Passing'] = student_summary_df['% Overall Passing'].map('{:.0f}'.format)
student_summary_df.index.name = None
student_summary_df

In [ ]:
type_avg_math = per_school_summary_df.groupby(['School Type']).mean()['Average Math Score']
type_avg_read = per_school_summary_df.groupby(['School Type']).mean()['Average Reading Score']
type_pass_math = per_school_summary_df.groupby(['School Type']).mean()['% Passing Math']
type_pass_read = per_school_summary_df.groupby(['School Type']).mean()['% Passing Reading']
type_pass_both = per_school_summary_df.groupby(['School Type']).mean()['% Overall Passing']

In [ ]:
type_summary_df = pd.DataFrame({
    'Average Math Score': type_avg_math,
    'Average Reading Score': type_avg_read,
    '% Passing Math': type_pass_math,
    '% Passing Reading': type_pass_read,
    '% Overall Passing': type_pass_both
})
type_summary_df['Average Math Score'] = type_summary_df['Average Math Score'].map('{:.1f}'.format)
type_summary_df['Average Reading Score'] = type_summary_df['Average Reading Score'].map('{:.1f}'.format)
type_summary_df['% Passing Math'] = type_summary_df['% Passing Math'].map('{:.0f}'.format)
type_summary_df['% Passing Reading'] = type_summary_df['% Passing Reading'].map('{:.0f}'.format)
type_summary_df['% Overall Passing'] = type_summary_df['% Overall Passing'].map('{:.0f}'.format)
type_summary_df.index.name = None
type_summary_df